################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
**/gen
*.o
*.d
*.map
*.timestamp
*.bin
*.elf
*.srec
*.syms
cfg?_out*.*
kernel_cfg.*
libkernel.a
offset.h
